/* font-family: myriad-pro, sans-serif;
Normal e Italic

Light:300
Regular:400
Semibold:600
Bold:700

colores:
botonera:#9E8D96
clientes/rosa logo: #F5C1DD
violeta logo: #83045e
texto oscuro:#9D8189
más oscuro:#674e56
*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?uyuq19');
    src: url('../fonts/icomoon.eot?uyuq19#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?uyuq19') format('truetype'), url('../fonts/icomoon.woff?uyuq19') format('woff'), url('../fonts/icomoon.svg?uyuq19#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    margin: 0;
    font-family: myriad-pro, sans-serif;
    background-color: white;
}

/* INICIO HEADER */

.holder {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    padding: 20px 40px 10px;
    max-width: 500px;
    box-sizing: border-box;
}

.maxwidthcontent {
    max-width: 100%;
}

.displayflex {
    display: flex;
    justify-content: center;
}

/* FIN HEADER */

/* INICIO NAV */

nav {
    background-color: #9E8D96;
}

.botonera {
    /* class en ul del nav */
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}

.botonera .clientes {
    background-color: #F5C1DD;
}

a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    transition: all 0.3s ease;
}

.botonera li a {
    color: white;
}

.botonera li a:hover {
    background-color: #F5C1DD;
}

.botonera .clientes a {
    color: #674e56;
}

.botonera .clientes a:hover {
    background-color: #83045e;
    color: white;
}

/* FIN NAV */

/* INICIO BOTÓN SUBIR */

.contenedortop {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 0;
}

.top {
    position: fixed;
    top: 35em;
    z-index: 1;
}

.top a {
    display: block;
    line-height: 0;
    border-radius: 50%;
    transform: rotate(180deg);
}

.top a img {
    max-width: 50px;
    filter: invert(40%);
}

.top a:hover {
    background-color: rgba(156, 156, 156, 0.6);
}

.top a:active {
    background-color: rgba(68, 26, 71, 0.6);
}

/* FIN BOTÓN SUBIR */

/* INICIO BIENVENIDA */

.bienvenida h2 {
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
    color: #F5C1DD;
}

h3 {
    padding-top: 20px;
    font-weight: 400;
    text-align: center;
    color: #83045e;
}

.globulosrojos {
    max-width: 300px;
    padding: 20px 0;
}

p {
    color: #9D8189;
    text-align: center;
    line-height: 2em;
}

.slogan {
    font-weight: 600;
    color: #83045e;
}

/* FIN BIENVENIDA */

/* INICIO EQUIPO */

.titulo {
    background-color: #83045e;
    color: white;
    height: 100px;
    margin: 50px 0;
}

.titulo h2 {
    font-weight: 400;
    text-align: center;
    line-height: 100px;
}

.col- {
    padding: 0;
}

.equipoimg {
    max-width: 100%;
    margin-bottom: 50px;
}

/* INICIO CV */

.cv {
    width: 80%;
    border: 1px solid #9D8189;
    border-bottom: none;
    margin: 20px auto 0;
    /* border-radius: 10px 10px 0 0; */
}

.cv img {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.vete {
    margin: 0 auto;
}

.vete p {
    color: #83045e;
    font-weight: 400;
    width: 100%;
    font-size: 0.8em;
}

.cvacordeon {
    width: 80%;
    border: 1px solid #9D8189;
    border-top: none;
    margin: 0 auto 20px;
    /* border-radius: 0 0 10px 10px; */
    /* overflow: hidden; */
    line-height: 2em;
    z-index: 0;
}

.accordion-button {
    justify-content: center;
}

.collapsed {
    color: rgb(55, 48, 48);
    background-color: #F5C1DD;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #9D8189;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "";
    background: no-repeat center/80% url(../images/circle-down.svg);
    opacity: 8 0%;
    filter: invert();
}

.accordion-button::after {
    background-image: none;
    content: "";
    background: no-repeat center/80% url(../images/circle-down.svg);
    opacity: 60%;
    margin-left: 0;
}

/* .circulo::after,
.circulo:not(.collapsed)::after{
    content: "";
    background: no-repeat center/80% url(../images/circle-down.svg);
    opacity: 50%;
   transform: rotate(180deg); 
 
   } */

/* FIN CV */

/* FIN EQUIPO */

/* INICIO SERVICIOS */

.posicionar {
    position: relative;
    text-align: center;
}

.posicionar .equipoimg {
    opacity: 40%;
}

.posicionar2 {
    position: absolute;
    top: 30%;
    display: block;
    width: 100%;
    text-align: center;
    color: #83045e;
}

.servicios {
    width: 80%;
    box-shadow: 0 0 10px 0 #83045e;
    margin: 20px auto;
    padding: 10px;
}

.servicios img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.servicios p {
    padding: 10px 5px;
}

.servicios ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9D8189;
    line-height: 2em;
    text-align: center;
    padding: 0;
}

.servicios a {
    background-color: #83045e;
    border-radius: 10px;
    color: white;
    margin: 30px auto 20px;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    line-height: 2em;
    padding: 10px 10px;
}

.servicios a:hover {
    background-color: #9E8D96;
    color: white;
}

.servicios a:active {
    background-color: #674e56;
}

/* FIN SERVICIOS */

/* INICIO CONTACTO */

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h4 {
    color: #83045e;
    text-align: center;
    margin-bottom: 30px;
}

.botonform {
    display: flex;
}

.formulario input[placeholder="opcional"]{
    font-style: italic;
    
}

.formulario input[type="submit"], .formulario input[type="reset"] {
    width: 5em;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: none;
}

.formulario input[type="submit"] {
    margin-right: 20px;
    background-color: #83045e;
    color: white;
}

.formulario input[type="reset"] {
    background-color: #9E8D96;
    color: white;
}

.formulario input[type="submit"]:hover {
    background-color: #F5C1DD;
    color: black;
}

.formulario input[type="reset"]:hover {
    background-color: #674e56;
}

.formulario textarea {
    resize: none;
    vertical-align: top;
}

.contactos {
    background-color: #9D8189;
}

.contactos p {
    color: white;
}

.horarios, .redes{
    margin-top: 55px;
}


.icon-instagram {
    display: flex;
    justify-content: center;
}

.redes a {
    color: white;
    line-height: 1.8em;
}

/* FIN CONTACTO */

/* ICOMOON */

.icon-instagram:before, .icon-mail:before, .icon-telefono:before, .icon-ubicacion:before {
    margin-right: 10px;
}

.icon-mail1:before {
    font-family: 'icomoon';
    content: "\e900";
}

.icon-ubicacion:before {
    font-family: 'icomoon';
    content: "\e901";
}

.icon-telefono:before {
    font-family: 'icomoon';
    content: "\e902";
}

.icon-nuevo:before {
    font-family: 'icomoon';
    content: "\e924";
}

.icon-descarga:before {
    font-family: 'icomoon';
    content: "\e9c7";
}

.icon-agregar:before {
    font-family: 'icomoon';
    content: "\ea0a";
}

.icon-mail:before {
    font-family: 'icomoon';
    content: "\ea86";
}

.icon-circle-down:before {
    font-family: 'icomoon';
    padding: 5px 0 0 5px;
    content: "\ea43";
}

.icon-instagram:before {
    font-family: 'icomoon';
    content: "\e903";
}

/* ICOMOON*/


/* INICIO FOOTER */
footer{
    background-color: #F5C1DD;
    color: #674e56;
    text-align: center;
    padding: 20px 0 20px 10px;
    width: 100%;
}
/* FIN FOOTER */


/* INICIO RESPONSIVE */

@media screen and (min-width: 540){
    
}