/* font-family: myriad-pro, sans-serif;
Normal e Italic

Light:300
Regular:400
Semibold:600
Bold:700

colores:
botonera:#9E8D96
clientes/rosa logo: #F5C1DD
violeta logo: #83045e
texto oscuro:#9D8189
más oscuro:#674e56

color fecha gris claro: #b3acae
  color autor: #cc869c;
*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?uyuq19');
    src: url('../fonts/icomoon.eot?uyuq19#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?uyuq19') format('truetype'), url('../fonts/icomoon.woff?uyuq19') format('woff'), url('../fonts/icomoon.svg?uyuq19#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    margin: 0;
    font-family: myriad-pro, sans-serif;
    background-color: white;
}

/* INICIO HEADER */

.holder {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo {
    padding: 20px 40px 10px;
    max-width: 500px;
    box-sizing: border-box;
}

.maxwidthcontent {
    max-width: 100%;
}

/* FIN HEADER */

/* INICIO NAV */

nav {
    background-color: #9E8D96;
}

.botonera {
    /* class en ul del nav */
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}

.botonera .clientes {
    background-color: #F5C1DD;
}

a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    transition: all 0.3s ease;
}

.botonera li a {
    color: white;
}

.botonera li a:hover {
    background-color: #F5C1DD;
}

.botonera .clientes a {
    color: #674e56;
}

.botonera .clientes a:hover {
    background-color: #83045e;
    color: white;
}

/* FIN NAV */

/* INICIO BOTÓN SUBIR */

.contenedortop {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 0;
}

.top {
    position: fixed;
    top: 35em;
    z-index: 1;
}

.top a {
    display: block;
    line-height: 0;
    border-radius: 50%;
    transform: rotate(180deg);
}

.top a img {
    max-width: 50px;
    filter: invert(40%);
}

.top a:hover {
    background-color: rgba(156, 156, 156, 0.6);
}

.top a:active {
    background-color: rgba(68, 26, 71, 0.6);
}

/* FIN BOTÓN SUBIR */

/* INICIO BIENVENIDA */

.bienvenida h2 {
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
    color: #F5C1DD;
}

h3 {
    padding-top: 20px;
    font-weight: 400;
    text-align: center;
    color: #83045e;
}


.globulosrojos {
    max-width: 300px;
    padding: 20px 0;
}

p {
    color: #9D8189;
    text-align: center;
    line-height: 2em;
}

.slogan {
    font-weight: 600;
    color: #83045e;
}

/* FIN BIENVENIDA */

/* INICIO EQUIPO */

.titulo {
    background-color: #83045e;
    color: white;
    height: 100px;
    margin: 50px 0;
}

.titulo h2 {
    font-weight: 400;
    text-align: center;
    line-height: 100px;
}

.col- {
    padding: 0;
}

.equipoimg {
    max-width: 100%;
    margin-bottom: 50px;
}

/* INICIO CV */



.cv {
    width: 80%;
    border: 1px solid #9D8189;
    border-bottom: none;
    margin: 20px auto 0;
    /* border-radius: 10px 10px 0 0; */
}

.cv img, .cv2 img {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.vete {
    margin: 0 auto;
}

.vete p {
    color: #83045e;
    font-weight: 400;
    width: 100%;
    font-size: 0.8em;
}

.cv2 {
    width: 80%;
    border: 1px solid #9D8189;
    margin: 20px auto 25px;
}

.cvacordeon {
    width: 80%;
    border: 1px solid #9D8189;
    border-top: none;
    margin: 0 auto 25px;
    /* border-radius: 0 0 10px 10px; */
    /* overflow: hidden; */
    line-height: 2em;
    z-index: 0;
}

.accordion-button {
    justify-content: center;
}

.collapsed {
    color: rgb(55, 48, 48);
    background-color: #F5C1DD;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #9D8189;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "";
    background: no-repeat center/80% url(../images/circle-down.svg);
    opacity: 8 0%;
    filter: invert();
}

.accordion-button::after {
    background-image: none;
    content: "";
    background: no-repeat center/80% url(../images/circle-down.svg);
    opacity: 60%;
    margin-left: 0;
}



/* FIN CV */

/* FIN EQUIPO */

/* INICIO SERVICIOS */

.posicionar {
    position: relative;
    text-align: center;
}

.posicionar .equipoimg {
    opacity: 40%;
}

.posicionar2 {
    position: absolute;
    top: 30%;
    display: block;
    width: 100%;
    text-align: center;
    color: #83045e;
}

.servicios {
    box-shadow: 0 0 10px 0 #83045e;
    margin: 20px auto;
    padding: 10px;
}

.servicios img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.servicios p {
    padding: 10px 5px;
}

.servicios ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9D8189;
    line-height: 2em;
    text-align: center;
    padding: 0;
}

.servicios a {
    background-color: #83045e;
    border-radius: 10px;
    color: white;
    margin: 30px auto 20px;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    line-height: 2em;
    padding: 10px 10px;
}

.servicios a:hover {
    background-color: #9E8D96;
    color: white;
}

.servicios a:active {
    background-color: #674e56;
}

/* FIN SERVICIOS */

/* INICIO NOVEDADES */

.novedadestitulo {
    margin: 50px auto;
    width: 100%;
}

.novedadestitulo h2 {
    text-align: center;
    color: #F5C1DD;
    font-weight: 600;
}

.novedades {
    margin-bottom: 50px;
    border: 0.5px dotted #674e56;
    width: 90%;
}

.novedades h4 {
    text-align: left;
    margin-bottom: 0;
    line-height: 2em;
}

.fecha {
    display: flex;
    /* lo puse para alinear los p y span*/
}

.fecha p {
    padding-left: 0.7em;
    color: #b3acae;
    font-size: 0.8em;
    margin-bottom: 0;
    font-style: italic;
}

.autor p, .fecha p {
    margin-bottom: 0;
}

.autor p {
    color: #cc869c;
    font-size: 0.8em;
    text-align: left;
    padding-left: 0.7em;
}

.contenido p {
    color: rgb(43, 42, 42);
    text-align: left;
}

hr {
    margin: 0;
    margin-bottom: 1em;
}

/* ICOMOON NOVEDADES */

.icon-clock:before {
    font-family: 'icomoon';
    content: "\e94e";
    margin-right: 0.7em;
    font-size: 0.8em;
}

.icon-calendar:after {
    font-family: 'icomoon';
    content: "\e953";
}

.icon-calendar, .icon-clock {
    color: #b3acae;
    margin-left: 0.5em;
}

/* FIN ICOMOON NOVEDADES*/

/* FIN NOVEDADES */

/* INICIO CONTACTO */

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h4 {
    color: #83045e;
    text-align: center;
    margin-bottom: 30px;
}

.contactolabo{
    background-color: white;
}
.botonform {
    display: flex;
}

.formulario p input {
    width: 250px;
    border: 0.5px dotted #9D8189;
}

.formulario input[placeholder="opcional"] {
    font-style: italic;
}

.formulario input[type="submit"], .formulario input[type="reset"] {
    width: 5em;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: none;
}

.formulario input[type="submit"] {
    margin-right: 20px;
    background-color: #83045e;
    color: white;
}

.formulario input[type="reset"] {
    background-color: #9E8D96;
    color: white;
}

.formulario input[type="submit"]:hover {
    background-color: #F5C1DD;
    color: black;
}

.formulario input[type="reset"]:hover {
    background-color: #674e56;
}

.formulario textarea {
    resize: none;
    vertical-align: top;
    border: 0.5px dotted #9D8189;
}

.contacto{

    background-color: #9D8189;
}

.contactos p {
    color: white;
}

.horarios, .redes {
    margin-bottom: 55px;
}

.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
   
    
}

.icon-instagram, .icon-mail, .icon-telefono, .icon-ubicacion {
    display: flex;
    justify-content: center;
}

.redes a {
    color: white;
    line-height: 1.8em;
}

.redes a:hover {
    color: #83045e;
}

/* FIN CONTACTO */

/* ICOMOON */

.icon-instagram:before, .icon-mail:before, .icon-telefono:before, .icon-ubicacion:before {
    margin-right: 10px;
}

.icon-mail1:before {
    font-family: 'icomoon';
    content: "\e900";
}

.icon-ubicacion:before {
    font-family: 'icomoon';
    content: "\e901";
}

.icon-telefono:before {
    font-family: 'icomoon';
    content: "\e902";
}

.icon-nuevo:before {
    font-family: 'icomoon';
    content: "\e924";
}

.icon-descarga:before {
    font-family: 'icomoon';
    content: "\e9c7";
}

.icon-agregar:before {
    font-family: 'icomoon';
    content: "\ea0a";
}

.icon-mail:before {
    font-family: 'icomoon';
    content: "\ea86";
}

.icon-circle-down:before {
    font-family: 'icomoon';
    padding: 5px 0 0 5px;
    content: "\ea43";
}

.icon-instagram:before {
    font-family: 'icomoon';
    content: "\e903";
}

/* ICOMOON*/

/* INICIO FOOTER */

footer {
    background-color: #F5C1DD;
    color: #674e56;
    text-align: center;
    padding: 20px 0 20px 10px;
    width: 100%;
}

/* FIN FOOTER */

/* INICIO RESPONSIVE */

@media screen and (min-width: 576px) {

    /* HEADER Y NAV */
    header .holder {
        margin: 0 0 0 20px;
        padding: 70px 0 70px 20px;
        position: relative;
        top: -10px;
    }
    .logo {
        max-width: 220px;
    }
    header {
        background: no-repeat center/100% url(../images/labo2000x855.png);
    }
    nav {
        opacity: 70%;
        position: relative;
        top: -210px;
        background-color: #674e56;
    }
    .botonera {
        display: flex;
        justify-content: flex-end;
        font-size: 0.75em;
    }
    .botonera li a {
        padding: 0 5px;
    }
    /* FIN HEADER Y NAV */


    /* BOTÓN SUBIR */
.top{
    top:14em;
}
    /* FIN BOTÓN SUBIR */


    /* INICIO BIENVENIDA */

    .bienvenida{
        width: 70%;
        margin-bottom: 50px;
    }

    .bienvenida h2 {
        font-size: 1.2em;
    }

    .bienvenida h3 {
        font-size: 1em;
    }

    .globulosrojos{
        max-width: 250px;
    }

    .bienvenida .holder{
        margin-left: 0;
        padding: 18px 0 15px;
    }

    .bienvenida col{
        padding-left: 0;
    }

    p{
        font-size: 0.9em;
    }

    /* FIN BIENVENIDA */

    /* INICIO EQUIPO */

    /* .quienessomos{
        margin-bottom: 50px;
        display: flex;
        align-items: stretch;
    } */

    .contenedortitulos{
        background-color: #83045e;
        margin-bottom: 40px;
    }

    .titulo{
        margin: 0;
    }

    .titulo h2{
        font-size: 1.2em;
    }

    
    .equipoimg{
        margin-bottom: 0;
    }

  .equipo{
      margin: 0 auto;
  }
    /* FIN EQUIPO */


    /* INICIO CV */

 .cv, .cvacordeon, .cv2{
     width: 50%;
 }



    /* FIN CV */


    /* INICIO SERVICIOS */

    .posicionar{
        background-color: white;
    }

    .posicionar2{
        top:45%;
    }

    .servicios{
        margin: 30px auto;
    }

    .serv2{
        margin-bottom: 70px;
    }

    .servicios ul{
        display: block;
        text-align: left;
        padding-left: 80px;
    }
    /* FIN SERVICIOS */

    /* INICIO CONTACTO */

    .redes{
        margin-top: 55px;
    }


    /* FIN CONTACTO */
}



@media screen and (min-width: 768px) {

    /* HEADER Y NAV */
    header .holder {
        margin: 0 0 0 20px;
        padding: 100px 0 100px 20px;
        position: relative;
        top: -30px;
    }
    .logo {
        max-width: 280px;
    }
    header {
        background: no-repeat center/100% url(../images/labo2000x855.png);
    }
    nav {
        opacity: 70%;
        position: relative;
        top: -286px;
        background-color: #674e56;
    }
    .botonera {
        display: flex;
        justify-content: flex-end;
        font-size: 0.80em;
    }
    .botonera li a {
        padding: 0 8px;
    }
    /* FIN HEADER Y NAV */


    /* BOTÓN SUBIR */
.top{
    top:30em;
}
    /* FIN BOTÓN SUBIR */


    /* INICIO BIENVENIDA */

    .bienvenida{
        width: 70%;
        margin-bottom: 50px;
    }

    .bienvenida h2 {
        font-size: 1.2em;
    }

    .bienvenida h3 {
        font-size: 1em;
    }

    .globulosrojos{
        max-width: 250px;
    }

    .bienvenida .holder{
        margin-left: 0;
        padding: 18px 0 15px;
    }

    .bienvenida col{
        padding-left: 0;
    }

    p{
        font-size: 0.9em;
    }

    /* FIN BIENVENIDA */

    /* INICIO EQUIPO */

    /* .quienessomos{
        margin-bottom: 50px;
        display: flex;
        align-items: stretch;
    } */

    .contenedortitulos{
        background-color: #83045e;
        margin-bottom: 40px;
    }

    .titulo{
        margin: 0;
    }

    .titulo h2{
        font-size: 1.4em;
    }

    
    .equipoimg{
        margin-bottom: 0;
    }

  .equipo{
      margin: 0 auto;
  }
    /* FIN EQUIPO */


    /* INICIO CV */

 .cv, .cvacordeon, .cv2{
     width: 50%;
 }



    /* FIN CV */


    /* INICIO SERVICIOS */

    .posicionar{
        background-color: white;
    }

    .posicionar2{
        top:45%;
    }

    .servicios{
        margin: 30px auto 70px;
    }

    /* .serv2{
        margin-bottom: 70px;
    } */

    .serv2 a{
        margin-top: 82px;
    }

    .servicios ul{
        display: block;
        text-align: left;
        padding-left: 80px;
    }
    /* FIN SERVICIOS */

    /* INICIO CONTACTO */

    .formulario{
        margin: 50px auto;
    }

    .formulario h4{
        margin-bottom: 50px;
    }
    .formulario p input {
        width: 500px;
       
    }

    .redes{
        margin-top: 55px;
    }

    .formulario textarea{
        width:500px;
    }

    .formulario input[type="submit"], .formulario input[type="reset"] {
        width: 7em;
        padding:10px;
        
    }
    
    /* FIN CONTACTO */
}


@media screen and (min-width: 992px) {

    /* HEADER Y NAV */
    header .holder {
        margin: 0 0 0 20px;
        padding: 120px 0 120px 20px;
        position: relative;
        top: -50px;
    }
    .logo {
        max-width: 350px;
    }
    header {
        background: no-repeat center/100% url(../images/labo2000x855.png);
    }
    nav {
        opacity: 70%;
        position: relative;
        top: -350px;
        background-color: #674e56;
    }
    .botonera {
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
    }
    .botonera li a {
        padding: 0 8px;
    }
    /* FIN HEADER Y NAV */


    /* BOTÓN SUBIR */
.top{
    top:30em;
}
    /* FIN BOTÓN SUBIR */


    /* INICIO BIENVENIDA */

    .bienvenida{
        width: 80%;
        margin-bottom: 50px;
    }

    .bienvenida h2 {
        font-size: 1.5em;
    }

    .bienvenida h3 {
        font-size: 1.2em;
    }

    .globulosrojos{
        max-width: 350px;
    }

    .bienvenida .holder{
        margin-left: 0;
        padding: 18px 0 15px;
    }

    .bienvenida col{
        padding-left: 0;
    }

    p{
        font-size: 1.1em;
        line-height: 2.3;
        text-align: left;
    }

    /* FIN BIENVENIDA */

    /* INICIO EQUIPO */

    /* .quienessomos{
        margin-bottom: 50px;
        display: flex;
        align-items: stretch;
    } */

    .contenedortitulos{
        background-color: #83045e;
        margin-bottom: 40px;
    }

    .titulo{
        margin: 0;
    }

    .titulo h2{
        font-size: 1.6em;
    } 

   
    .equipoimg{
        margin-bottom: 0;
    }

  .equipo{
      margin: 0 auto;
  }
    /* FIN EQUIPO */


    /* INICIO CV */

 .cv, .cvacordeon, .cv2{
     width: 50%;
 }



    /* FIN CV */


    /* INICIO SERVICIOS */

    .posicionar{
        background-color: white;
    }

    .posicionar2{
        top:45%;
        font-size: 1.2em;
    }

    .servicios{
        margin: 30px auto 70px;
    }
    .servicios img{
        max-width: 250px;
    }
    /* .serv2{
        margin-bottom: 70px;
    } */

    .serv2 a{
        margin-top: 151px;
        font-size: 0.9em;
        line-height: 2.3em;
    }

    .servicios ul{
        display: block;
        text-align: left;
        padding-left: 80px;
    }
    /* FIN SERVICIOS */

    /* INICIO CONTACTO */

    .formulario{
        margin: 50px auto;
    }

    .formulario h4{
        margin-bottom: 50px;
    }
    .formulario p input {
        width: 500px;
       
    }

    .redes{
        margin-top: 55px;
    }

    .formulario textarea{
        width:500px;
    }

    .formulario input[type="submit"], .formulario input[type="reset"] {
        width: 7em;
        padding:10px;
        
    }
    
    /* FIN CONTACTO */
}


@media screen and (min-width: 1200px) {

    /* HEADER Y NAV */
    header .holder {
        margin: 0 0 0 20px;
        padding: 150px 0 150px 20px;
        position: relative;
        top: -80px;
    }
    .logo {
        max-width: 480px;
    }
    header {
        background: no-repeat center/100% url(../images/labo2000x855.png);
    }
    nav {
        opacity: 70%;
        position: relative;
        top: -450px;
        background-color: #674e56;
    }
    .botonera {
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
    }
    .botonera li a {
        padding: 0 12px;
        line-height: 50px;
    }
    /* FIN HEADER Y NAV */


    /* BOTÓN SUBIR */
.top{
    top:35em;
    padding-right: 30px;
}
    /* FIN BOTÓN SUBIR */


    /* INICIO BIENVENIDA */

    .bienvenida{
        width: 80%;
        margin-bottom: 50px;
    }

    .bienvenida h2 {
        font-size: 1.6em;
        padding-top: 50px;
    }

    .bienvenida h3 {
        padding-top: 50px;
        font-size: 1.4em;
    }

    .globulosrojos{
        max-width: 600px;
        padding: 40px;
    }

    .bienvenida .holder{
        margin-left: 0;
        padding: 18px 0 15px;
    }

    .bienvenida col{
        padding-left: 0;
    }

    p{
        font-size: 1em;
        line-height: 2.1;
        text-align: left;
    }

    /* FIN BIENVENIDA */

    /* INICIO EQUIPO */

    /* .quienessomos{
        margin-bottom: 50px;
        display: flex;
        align-items: stretch;
    } */

    .contenedortitulos{
        background-color: #83045e;
        margin-bottom: 40px;
    }

    .titulo{
        margin: 0;
    }

    .titulo h2{
        font-size: 1.4em;
    } 

   
    .equipoimg{
        margin-bottom: 0;
    }

    .equipoimgt{
        background-color: white;
    }

  .equipo{
      margin: 0 auto;
  }
    /* FIN EQUIPO */


    /* INICIO CV */

 .cv, .cvacordeon, .cv2{
     width: 50%;
 }



    /* FIN CV */


    /* INICIO SERVICIOS */

    .posicionar{
        background-color: white;
    }

    .posicionar2{
        top:45%;
        font-size: 1.2em;
    }
   
    .servicios{
        margin: 30px auto 70px;
    }

  .servicios h3{
      font-size: 1.4em;
      line-height: 1.2;
      margin-bottom: 20px;
  }
.servicios img{
    max-width: 300px;
}
    .serv2 a{
        margin-top: 129px;
        line-height: 2em;
    }

    .servicios ul{
        display: block;
        text-align: left;
        padding-left: 80px;
        font-size: 1em;
    }

    .servicios a{
        font-size: 1em;
    }
  
    
    /* FIN SERVICIOS */

    /* INICIO CONTACTO */

    .contacto{
        font-size: 0.9em;
    }
    .formulario{
        margin: 50px auto;
    }

    .formulario h4{
        margin-bottom: 50px;
    }
    .formulario p input {
        width: 500px;
       
    }

    .redes{
        margin-top: 55px;
    }

    .formulario textarea{
        width:500px;
    }

    .formulario input[type="submit"], .formulario input[type="reset"] {
        width: 7em;
        padding:10px;
        
    }
    
    /* FIN CONTACTO */

/* INICIO NOVEDADES */

.novedadestitulo{
font-size: 2.4em;
}

.novedades h4{
font-size: 2em;
}

.bajada p{ 
    font-size: 1.3em;
}

.bajada span{
    line-height: 2em;
}
.icon-calendar, .icon-clock {
 font-size: 1.4em;
}

/* FIN NOVEDADES */

    /* INICIO FOOTER */

footer{
    font-size: 0.9em;
}

    /* FIN FOOTER */
}

@media screen and (min-width: 1400px) {

    /* HEADER Y NAV */
    header .holder {
        margin: 0 0 0 20px;
        padding: 180px 0 180px 20px;
        position: relative;
        top: -116px;
    }
    .logo {
        max-width: 530px;
    }
    header {
        background: no-repeat center/100% url(../images/labo2000x855.png);
    }
    nav {
        opacity: 70%;
        position: relative;
        top: -525px;
        background-color: #674e56;
    }
    .botonera {
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
    }
    .botonera li a {
        padding: 0 16px;
        line-height: 50px;
    }
    /* FIN HEADER Y NAV */


    /* BOTÓN SUBIR */
.top{
    top:40em;
    padding-right: 30px;
}
    /* FIN BOTÓN SUBIR */


    /* INICIO BIENVENIDA */

    .bienvenida{
        width: 80%;
        margin-bottom: 50px;
    }

    .bienvenida h2 {
        font-size: 1.8em;
        padding-top: 50px;
    }

    .bienvenida h3 {
        padding-top: 50px;
        font-size: 1.4em;
    }

    .globulosrojos{
        max-width: 600px;
        padding: 40px;
    }

    .bienvenida .holder{
        margin-left: 0;
        padding: 18px 0 15px;
    }

    .bienvenida col{
        padding-left: 0;
    }

    p{
        font-size: 1.1em;
        line-height: 2.1;
        text-align: left;
    }

    /* FIN BIENVENIDA */

    /* INICIO EQUIPO */

    /* .quienessomos{
        margin-bottom: 50px;
        display: flex;
        align-items: stretch;
    } */

    .contenedortitulos{
        background-color: #83045e;
        margin-bottom: 40px;
    }

    .titulo{
        margin: 0;
    }

    .titulo h2{
        font-size: 1.4em;
    } 

   
    .equipoimg{
        margin-bottom: 0;
    }

    .equipoimgt{
        background-color: white;
    }

  .equipo{
      margin: 0 auto;
  }
    /* FIN EQUIPO */


    /* INICIO CV */

 .cv, .cvacordeon, .cv2{
     width: 50%;
 }



    /* FIN CV */


    /* INICIO SERVICIOS */

    .posicionar{
        background-color: white;
    }

    .posicionar2{
        top:45%;
        font-size: 1.5em;
    }
   
    .servicios{
        margin: 30px 0 70px; 
       
    }

    .serv1{
        margin-right: 50px;
        margin-left: 200px;
    }

  .servicios h3{
      line-height: 1.2;
      margin-bottom: 20px;
  }
.servicios img{
    max-width: 300px;
}
    .serv2 a{
        margin-top: 141px;
        line-height: 2em;
    }

    .servicios ul{
        display: block;
        text-align: left;
        padding-left: 80px;
        font-size: 1.1em;
    }

    .servicios a{
        font-size: 1.1em;
    }
  
    
    /* FIN SERVICIOS */

    /* INICIO CONTACTO */

    .formulario{
        margin: 50px auto;
    }

    .formulario h4{
        margin-bottom: 50px;
    }
    .formulario p input {
        width: 500px;
       
    }

    .redes{
        margin-top: 55px;
    }

    .formulario textarea{
        width:500px;
    }

    .formulario input[type="submit"], .formulario input[type="reset"] {
        width: 7em;
        padding:10px;
        
    }
    
    /* FIN CONTACTO */

/* INICIO NOVEDADES */

.novedadestitulo{
font-size: 2.4em;
}

.novedades h4{
font-size: 2em;
}

.bajada p{ 
    font-size: 1.3em;
}

.bajada span{
    line-height: 2em;
}
.icon-calendar, .icon-clock {
 font-size: 1.4em;
}

/* FIN NOVEDADES */

    /* INICIO FOOTER */

footer{
    font-size: 1.1em;
}

    /* FIN FOOTER */
}